html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--primary);
	font-family: var(--font-inter);
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

*:focus {
	outline: 2px solid var(--mauve-10);
}

.no-focus-outline {
	&:focus {
		outline: none;
	}
}

:root {
	--background: #131319;
	--navbar: #0a0a0eb3;

	--primary: #fbfbfd;
	--secondary: #9e9e9e;
	--tertiary: #161616;

	--athens-grey: #f1f1f5e6;

	--mauve: #c29fff;
	--mauve-10: #c29fff1a;
	--mauve-40: rgba(194, 159, 255, 0.4);

	--woodsmoke: #131319;
	--shark: #28282f;
	--manatee: #8e8e98;
	--dark-purple: #8945ff7a;

	--light: #f1f1f5;
	--traced: #28282f;

	--button-bg: var(--mauve);
	--button-color: #0b0b0f;

	--font-inter: "Inter", sans-serif;
	--font-geist: "Geist", sans-serif;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--shark) 85%, transparent);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--button-bg);
}

::-webkit-scrollbar-track {
	background: transparent;
}
