html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--primary);
	font-family: var(--font-inter);
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

:root {
	--background: var(--woodsmoke);
	--navbar: #0a0a0eb3;

	--primary: #fbfbfd;
	--secondary: var(--manatae);
	--tertiary: #161616;

	--athens-grey: #f1f1f5e6;

	--mauve: #c29fff;
	--mauve-10: #c29fff1a;
	--mauve-40: #c29fff66;

	--woodsmoke: #131319;
	--woodsmoke-secondary: #111118;
	--woodsmoke-tertiary: #0b0b0f;

	--shark: #28282f;
	--manatae: #8e8e98;

	--light: #f1f1f5;
	--dark-purple: #8945ff7a;

	--bg-button: var(--mauve);

	--font-inter: "Inter", sans-serif;
	--font-geist: "Geist", sans-serif;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--shark) 85%, transparent);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--bg-button);
}

::-webkit-scrollbar-track {
	background: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	resize: none;
}
